@theme {
  /* Marca: azul petróleo profesional */
  --color-marca-50: #f0f7fa;
  --color-marca-100: #dcebf2;
  --color-marca-200: #bcd8e6;
  --color-marca-300: #8dbcd3;
  --color-marca-400: #5698ba;
  --color-marca-500: #3b7ea1;
  --color-marca-600: #2d6485;
  --color-marca-700: #27546e;
  --color-marca-800: #24485d;
  --color-marca-900: #223e4f;
  --color-marca-950: #16293a;
}
